@font-face {
    font-family: 'daruma';
    src: url('fonts/DarumadropOne-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

body {
    margin: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'daruma', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('img/5_background/desert.svg');
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 64px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: black;
    display: block;
}

#startScreen {
    height: 480px;
    width: 720px;
    position: relative;
    overflow: hidden;
}

#startScreen img {
    height: inherit;
    width: inherit;
}

.start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 25%;
    font-size: 32px;
    font-weight: bold;
    color: black;
    border-radius: 16px;
    background-color: #ff9c00;
    cursor: pointer;
}

.start-button:hover {
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.controls-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 25%;
    font-size: 32px;
    font-weight: bold;
    color: black;
    border-radius: 16px;
    background-color: #ff9c00;
    cursor: pointer;
}

.controls-button:hover {
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.options-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 25%;
    font-size: 32px;
    font-weight: bold;
    color: black;
    border-radius: 16px;
    background-color: #ff9c00;
    cursor: pointer;
}

.options-button:hover {
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.controls {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: rgba(0, 0, 0, 0.85);
}

.close-controls {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.controls-info {
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.controls-item {
    width: 80px;
    height: inherit;
    object-fit: contain;
    color: white;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.controls-description {
    color: white;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.overlay {
    display: none;
    position: fixed;
    bottom: 0;
    height: 64px;
    width: 100%;
}

.panel {
    display: flex;
    justify-content: space-between;
    margin: 12px;
    width: inherit;
}

.panel-wrapper {
    display: flex;
    gap: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.panel-wrapper button {
    border-radius: 50%;
    border: none;
    width: 40px;
    background-color: #A0220A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-wrapper button img {
    width: 24px;
}

.wrapper {
    display: flex;
    position: absolute;
    top: 0;
    width: inherit;
    margin-top: 24px;
    justify-content: space-around;
}

#ingame-controls {
    display: none;
    justify-content: space-between;
    width: calc(720px - 16px);
    padding-left: 8px;
    padding-right: 8px;
    transform: translateY(-48px);
}

.ingame-controls-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ingame-controls-item {
    object-fit: contain;
    color: black;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.ingame-controls-description {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.ingame-controls-item img {
    height: 24px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);;
}

#hint {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-size: 24px;
    text-align: center;
}

#muteButton {
    display: flex;
    width: calc(720px - 16px);
    padding-left: 16px;
    padding-right: 8px;
    transform: translateY(100px);
}

#muteButton img {
    width: 24px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);;
}


@-webkit-keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}


/* Media Queries */
@media screen and (min-width: 720px) {
    #hint {
        display: none;
    }
}

/* Smartphones */
@media screen and (orientation:landscape) and (max-width: 920px) {
    canvas, 
    #startScreen {
        width: 100vw !important;
        height: 100vh;
    }

    #ingame-controls {
        display: none !important;
    }

    h1 {
        display: none;
    }

    .overlay {
        display: flex;
    }

    #hint {
        display: none;
    }

    #muteButton {
        position: fixed;
        left: 20px;
        top: -30px;
        width: 100%;
        padding: unset;
    }
}

@media screen and (orientation:portrait) and (max-width: 720px) {
    canvas, 
    #startScreen {
        width: 100vw !important;
        height: unset;
    }

    #ingame-controls {
        display: none !important;
    }

    .overlay {
        display: flex;
    }

    .controls-button {
        font-size: 20px;
    }

    .start-button {
        font-size: 20px;
    }

    .options-button {
        font-size: 20px;
    }

    .controls {
        height: 100%;
        gap: 16px;
    }

    .controls-info {
        gap: 40px;
        height: 40px;
        font-size: 20px;
        width: 60%;
    }

    .controls-item {
        width: 56px;
        font-size: inherit;
        height: 40px;
    }

    .controls-description {
        font-size: inherit;
    }
}